.container {
  text-align: center;
  .title {
    margin: 1em auto;
    img {
      width: 250px;
      margin-bottom: 1em;
      @media screen and (max-width: 768px) {
        width: 220px;
      }
    }
    h1 {
      margin-bottom: 0;
      @media screen and (max-width: 768px) {
        font-size: 1.7em;
      }
    }
    i {
      font-weight: 300;
      @media screen and (max-width: 768px) {
        font-size: 0.9em;
      }
    }
  }
  .generate {
    .message {
      margin-top: 2em;
      .number {
        font-size: 6em;
      }
      .spinner-grow {
        width: 12em;
        height: 12em;
      }
      .mirror {
        a {
          font-size: 1em;
        }
      }
      .doujin {
        &-info {
          img {
            width: 100%;
          }
          .btn-primary {
            margin-top: 0.5em;
            background: #ec2955;
            border-color: darken(#ec2955, 10%);
            font-size: 1em;
          }
        }
      }
    }
  }
}
