.container{
  text-align: center;
  .title{
    margin: 1em auto;
    img{
      width: 300px;
      margin-bottom: 1em;
      @media screen and (max-width: 768px){
        width: 220px;
      }
    }
    h1{
      margin-bottom: 0;
      @media screen and (max-width: 768px){
        font-size: 2em;
      }
    }
    i{
      font-weight: 300;
      @media screen and (max-width: 768px){
        font-size: .9em;
      }
    }
  }
  .generate{
    .message{
      margin-top: 2em;
      a{
        font-size: 6em;
      }
      .mirror{
       a{
        font-size: 1em;
      }
    }
  }
}
