/**
* Const here
*/
$mobile-bp: 480px;
$mobile-old-bp: 320px;
$tablet: 1024px;
$laptop-hd: 1440px;
/**
* Color here
*/
$black: #000000;
$darkgray: #2a2a2a;
$gray: #a2a2a2;
$bg-color: #f7f7f7;
$border-color: #d1d3d4;
$white: #ffffff;

$light-blue: #8cd5f6;
$red: #EC2955;

/**
* Font here
*/
